.animation--border-b {
    @apply after:absolute after:block after:bottom-0 after:w-0 after:h-0.5 after:bg-theme-primary after:mr-auto after:transition-width after:duration-300 after:ease-in-out;

    &:hover {
        @apply after:w-full;
    }
}

.animation--scale {
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.animation--in {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease, transform 0.5s ease;
}

.animation--in.animate {
    opacity: 1;
    transform: translateY(0);
}
