.animation--border-b {
    @apply after:absolute after:block after:bottom-0 after:w-0 after:h-0.5 after:bg-theme-primary after:mr-auto after:transition-width after:duration-300 after:ease-in-out;

    &:hover {
        @apply after:w-full;
    }
}

.animation--scale {
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.animation--fade {
    opacity: 0;
    // transform: translateX(50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade.animate {
    opacity: 1;
    // transform: translateY(0);
}

.animation--fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade-up.animate {
    opacity: 1;
    transform: translateY(0);
}

.animation--fade-down {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade-down.animate {
    opacity: 1;
    transform: translateY(0);
}

.animation--fade-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade-left.animate {
    opacity: 1;
    transform: translateX(0);
}

.animation--fade-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease, transform 0.5s ease;
}

.animation--fade-right.animate {
    opacity: 1;
    transform: translateX(0);
}

.ainmation--fade-up-left {
    opacity: 0;
    transform: translate(-50px, 50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade-up-left.animate {
    opacity: 1;
    transform: translate(0, 0);
}

.animation--fade-up-right {
    opacity: 0;
    transform: translate(50px, -50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade-up-right.animate {
    opacity: 1;
    transform: translate(0, 0);
}

.animation--fade-down-left {
    opacity: 0;
    transform: translate(-50px, -50px);
    transition: opacity 1s ease, transform 0.5s ease;
    // overflow: hidden;
}

.animation--fade-down-left.animate {
    opacity: 1;
    transform: translate(0, 0);
}
