<button
    mat-icon-button
    mat-dialog-close
    class="!absolute top-0 right-0 translate-x-1/2 -translate-y-1/2"
>
    <mat-icon>close</mat-icon>
</button>

<div class="h-full overflow-auto theme--text">
    <div
        class="sticky -top-0.5 px-4 sm:px-0 pb-4 dark:bg-[#424242] bg-[#f7f7f7] z-10"
    >
        <h3 class="text-base font-semibold leading-7">{{ data.title }}</h3>
        <p class="max-w-2xl mt-1 text-sm leading-6">{{ data.subtitle }}</p>
    </div>
    <div class="">
        <dl class="divide-y divide-gray-300">
            <div
                *ngFor="let record of data.data | keyvalue : keepOrder"
                class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0"
            >
                <dt
                    class="sticky top-0 text-sm font-bold leading-6"
                    [innerHTML]="record.key | transloco"
                ></dt>
                <dd
                    class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0"
                    [innerHTML]="record.value | transloco"
                ></dd>
            </div>

            <ng-container *ngIf="data.links">
                <div
                    *ngFor="let link of data.links | keyvalue : keepOrder"
                    class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0"
                >
                    <dt
                        class="text-sm font-medium leading-6"
                        [innerHTML]="link.key"
                    ></dt>
                    <dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0">
                        <a
                            [href]="link.value.url"
                            target="_blank "
                            rel="noopener noreferrer"
                            class="primary-link"
                        >
                            <fa-icon
                                *ngIf="link.value.icon"
                                [icon]="link.value.icon"
                                [ngClass]="link.value.iconClass"
                            ></fa-icon>
                            {{ link.value.label }}
                        </a>
                    </dd>
                </div>
            </ng-container>
        </dl>
    </div>
</div>
