<div class="p-6 rounded-lg theme--bg theme--text">
    <div class="w-20 h-20 mb-4 bg-theme-white-80 rounded-xl"></div>
    <h4 class="text-theme-red">Skill Name</h4>
    <p class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sed quam
        laborum, quis eos, quidem incidunt voluptas dolorem unde nam
        consequuntur, minima commodi alias. Doloremque maiores facere officia ab
        qui.
    </p>
    <button class="link-button mt-3" (click)="actionClick.emit()">
        See more
    </button>
</div>
