<div
    class="flex flex-col"
    appScrollspy
    [spiedTags]="[
        'app-about',
        'app-experiences',
        'app-skills',
        'app-projects',
        'app-contact'
    ]"
>
    <app-hero
        id="hero"
        appAnimateOnScrolls
        (scrollTo)="scrollTo($event)"
    ></app-hero>

    <!-- <div class="border"></div> -->

    <app-about appAnimateOnScrolls id="about"></app-about>

    <!-- <div class="border"></div> -->

    <app-experiences appAnimateOnScrolls id="experiences"></app-experiences>

    <!-- <div class="border"></div> -->

    <app-skills appAnimateOnScrolls id="skills"></app-skills>

    <!-- <div class="border"></div> -->

    <app-projects appAnimateOnScroll id="projects"></app-projects>

    <!-- <div class="border"></div> -->

    <app-contact appAnimateOnScrolls id="contact"></app-contact>
</div>
