<div
    class="flex flex-col"
    appScrollspy
    [spiedTags]="[
        'app-about',
        'app-experiences',
        'app-skills',
        'app-projects',
        'app-contact'
    ]"
>
    <app-hero
        id="hero"
        appAnimateOnScroll
        (scrollTo)="scrollTo($event)"
    ></app-hero>

    <!-- <div class="border"></div> -->

    <app-about
        appAnimateOnScroll
        animateStart="animation--fade-right"
        id="about"
    ></app-about>

    <!-- <div class="border"></div> -->

    <app-experiences appAnimateOnScroll id="experiences"></app-experiences>

    <!-- <div class="border"></div> -->

    <app-skills appAnimateOnScroll id="skills"></app-skills>

    <!-- <div class="border"></div> -->

    <app-projects appAnimateOnScroll id="projects"></app-projects>

    <!-- <div class="border"></div> -->

    <app-contact appAnimateOnScroll id="contact"></app-contact>
</div>
