<div
    class="flex flex-col overflow-x-hidden"
    appScrollspy
    [spiedTags]="[
        'app-about',
        'app-experiences',
        'app-skills',
        'app-projects',
        'app-contact'
    ]"
>
    <app-hero
        id="hero"
        appAnimateOnScroll
        animateStart="animation--fade-left"
        (scrollTo)="scrollTo($event)"
    ></app-hero>

    <!-- <div class="border"></div> -->

    <app-about
        appAnimateOnScroll
        animateStart="animation--fade-right"
        id="about"
    ></app-about>

    <!-- <div class="border"></div> -->

    <app-experiences
        animateStart="animation--fade-left"
        appAnimateOnScroll
        id="experiences"
    ></app-experiences>

    <!-- <div class="border"></div> -->

    <app-skills
        animateStart="animation--fade-right"
        appAnimateOnScroll
        id="skills"
    ></app-skills>

    <!-- <div class="border"></div> -->

    <app-projects
        animateStart="animation--fade-left"
        appAnimateOnScroll
        id="projects"
    ></app-projects>

    <!-- <div class="border"></div> -->

    <app-contact appAnimateOnScroll id="contact"></app-contact>
</div>

<app-scroll-to-top></app-scroll-to-top>
