<button
    mat-icon-button
    mat-dialog-close
    class="!absolute top-0 right-0 translate-x-1/2 -translate-y-1/2"
>
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
</button>

<div class="h-full gap-4 grid grid-cols-2 grid-rows-1">
    <img
        class="h-full object-cover"
        [src]="data.image.url"
        [alt]="data.image.alt"
        loading="lazy"
    />

    <div class="overflow-y-auto">
        <ng-container
            *ngTemplateOutlet="
                data.detailTmpl || default;
                context: { $implicit: data.data }
            "
        ></ng-container>
        <ng-template #default> Nothing to see here. </ng-template>
        <!-- <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
            ratione repudiandae impedit porro, iusto in delectus cumque
            laboriosam soluta voluptas eaque eveniet accusamus expedita qui
            numquam corporis nihil, magni aliquam.
        </div> -->
    </div>
</div>
