<section
    class="relative flex flex-col items-center justify-center h-full gap-8 p-8 md:gap-12 xl:gap-20 sm:px-12 md:px-20 md:py-12 xl:py-20 theme--bg-secondary theme--text"
>
    <div
        class="grid w-full max-w-screen-lg grid-cols-1 gap-8 lg:grid-cols-2 lg:grid-rows-1 auto-rows-auto md:gap-12 lg:gap-16"
    >
        <div class="flex flex-col items-start flex-grow gap-5 lg:gap-10">
            <h2 class="h2--start">{{ "contact.title" | transloco }}</h2>

            <p innerHTML="{{ 'contact.description' | transloco }}" class=""></p>

            <address class="flex flex-col items-start gap-2 md:gap-4">
                <div class="flex justify-center gap-3">
                    <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                    <span>
                        <p>{{ "contact.address-1" | transloco }}</p>
                        <p>{{ "contact.address-2" | transloco }}</p>
                    </span>
                </div>

                <p class="flex items-center justify-center gap-3">
                    <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                    <a
                        href="tel:+84783995295"
                        class="primary-link"
                        title="My phone number"
                        >+84 783995295</a
                    >
                </p>

                <p class="flex items-center justify-center gap-3">
                    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                    <a
                        href="mailto:tdp99.business@gmail.com"
                        class="primary-link"
                        >tdp99.business@gmail.com</a
                    >
                </p>
            </address>

            <div class="flex gap-4">
                <a
                    *ngFor="let link of socialLink"
                    [href]="link.url"
                    target="_blank"
                    class="animation--scale"
                >
                    <fa-icon
                        *ngIf="link.icon"
                        [icon]="link.icon"
                        class="theme--text"
                        size="xl"
                    ></fa-icon>
                </a>
            </div>
        </div>

        <div class="my-auto">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</section>
