<div
    class="flex flex-col items-center justify-center h-full gap-20 p-20 bg-theme-black-80"
>
    <h2 class="">Contact</h2>

    <p class="block max-w-screen-sm text-center">
        I am currently seeking employment, so if you have a job or project
        offer, or if you need more information, please do not hesitate to
        contact me.
    </p>

    <button class="porfolio-button">Write Message</button>

    <div class="flex gap-4">
        <a *ngFor="let link of socialLink" [href]="link.url" target="_blank">
            <fa-icon [icon]="link.icon" size="xl"></fa-icon>
        </a>
    </div>
</div>
