<div
    class="flex flex-col items-center justify-center h-full gap-8 px-10 py-8 md:gap-12 xl:gap-20 sm:px-12 md:px-20 md:py-12 xl:py-20 theme--bg-secondary theme--text"
>
    <h2 class="">{{ "skills" | transloco }}</h2>

    <div
        class="grid items-center w-full h-full max-w-screen-lg grid-cols-1 gap-8 md:grid-cols-12 auto-rows-auto md:grid-rows-1 lg:gap-12"
    >
        <div
            class="col-auto md:col-span-3"
            [ngClass]="{ 'order-last': navPosition === 'right' }"
            animateStart="animation--fade-right"
            appAnimateOnScroll
        >
            <div
                class="grid grid-cols-6 gap-2 sm:grid-cols-4 auto-rows-auto md:flex md:flex-col"
            >
                <ng-container *ngIf="currentType$ | async as currentType">
                    <button
                        *ngFor="let skill of skillTypes"
                        class="col-start-2 col-end-6 tab-button sm:col-end-4 md:col-start-auto md:col-auto"
                        [ngClass]="{ active: currentType === skill.id }"
                        (click)="goTo(skill.id)"
                    >
                        {{ skill.name | uppercase }}
                    </button>
                </ng-container>
            </div>
        </div>

        <div
            class="relative col-auto md:col-span-9 min-h-[512px] flex items-center"
            animateStart="animation--fade-left"
            appAnimateOnScroll
        >
            <mat-accordion
                displayMode="flat"
                togglePosition="after"
                *ngIf="skillData$ | async as currentSkill"
            >
                <mat-expansion-panel
                    *ngFor="
                        let skill of currentSkill;
                        let first = first;
                        let last = last;
                        let index = index
                    "
                    class="theme--bg theme--text"
                    [expanded]="!!first && !skill.hideDetail"
                    [disabled]="skill.hideDetail"
                >
                    <mat-expansion-panel-header
                        [ngClass]="{ 'cursor-default': skill.hideDetail }"
                        [style]="{ color: 'unset' }"
                    >
                        <mat-panel-title
                            class="flex items-center gap-1 font-bold theme--text"
                        >
                            <span>{{ skill.name }}</span>
                            <fa-icon
                                *ngIf="skill.experience > 2"
                                [icon]="['far', 'circle-check']"
                                matTooltip="More than 2 years of experiences"
                            ></fa-icon>
                        </mat-panel-title>

                        <mat-panel-description
                            *ngIf="skill.shortDescription"
                            class="justify-end subtitle"
                        >
                            {{ skill.shortDescription }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div
                        class="flex flex-col gap-4 overflow-y-auto divide-y h-60"
                    >
                        <p *ngIf="skill.experience" class="subtitle">
                            Year of Experiences: {{ skill.experience }} year(s)
                        </p>

                        <p *ngIf="skill.description" class="pt-4 caption-value">
                            {{ skill.description }}
                        </p>

                        <div
                            *ngIf="
                                skill.subSkills && skill.subSkills.length > 0
                            "
                            class="flex flex-col pt-4"
                        >
                            <span class="mb-2 list-title"
                                >Have A Solid Understanding Of:
                            </span>
                            <span
                                class="caption-value"
                                *ngFor="let skill of skill.subSkills"
                            >
                                {{ skill }}
                            </span>
                        </div>

                        <div
                            *ngIf="
                                skill.certificates &&
                                skill.certificates.length > 0
                            "
                            class="pt-4"
                        >
                            <span>Certificates: </span>

                            <div class="inline-flex items-center gap-2">
                                <a
                                    *ngFor="
                                        let certificate of skill.certificates
                                    "
                                    class="primary-link"
                                    [href]="certificate.url"
                                    target="_blank"
                                >
                                    {{ certificate.name }}
                                </a>
                            </div>
                        </div>

                        <div
                            *ngIf="
                                skill.libraries && skill.libraries.length > 0
                            "
                            class="pt-4"
                        >
                            <span>Library used: </span>

                            <div class="inline-flex items-center gap-2">
                                <a
                                    *ngFor="let library of skill.libraries"
                                    [href]="library.url"
                                    class="primary-link"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <fa-icon
                                        *ngIf="library.icon"
                                        [icon]="library.icon"
                                        size="sm"
                                    ></fa-icon>
                                    {{ library.label }}
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
