<nav
    #nav
    class="flex items-center justify-between px-40 py-4 theme--bg border-b !transition-spacing drop-shadow-md"
>
    <a routerLink="/">
        <svg
            class="w-12 h-12"
            id="sw-js-blob-svg"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
        >
            <defs>
                <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
                    <stop
                        id="stop1"
                        stop-color="rgba(248, 117, 55, 1)"
                        offset="0%"
                    ></stop>
                    <stop
                        id="stop2"
                        stop-color="rgba(251, 168, 31, 1)"
                        offset="100%"
                    ></stop>
                </linearGradient>
            </defs>
            <path
                fill="url(#sw-gradient)"
                d="M20.3,-24.7C27.6,-18,35.7,-12.9,36.8,-6.5C37.9,-0.2,31.9,7.4,26.3,13.4C20.7,19.4,15.5,23.8,9.3,26.5C3.1,29.1,-4,29.9,-11.3,28.4C-18.6,27,-26.1,23.2,-29.1,17.2C-32,11.2,-30.5,3,-28.6,-4.6C-26.7,-12.2,-24.5,-19.3,-19.6,-26.5C-14.8,-33.6,-7.4,-40.8,-0.5,-40.2C6.5,-39.7,13,-31.4,20.3,-24.7Z"
                width="100%"
                height="100%"
                transform="translate(50 50)"
                stroke-width="0"
                style="transition: all 0.3s ease 0s"
            ></path>
        </svg>
    </a>

    <div class="flex gap-7">
        <a
            *ngFor="let item of items"
            [routerLink]="[item.route, routePrefix]"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="linkActiveOptions"
            [fragment]="item.fragment"
            class="relative flex items-center dark:text-theme-white-90 animation--border-b"
            [ngClass]="{ 'link-active': item.active }"
        >
            {{ item.label }}
        </a>

        <button class="primary-button">Resume</button>

        <div class="flex items-center justify-center w-6">
            <button
                *ngIf="themeService.currentTheme$ | async as theme"
                (click)="themeService.toggleTheme()"
            >
                <ng-container *ngIf="theme === 'light'; else dark">
                    <fa-icon
                        [icon]="sunIcon"
                        size="xl"
                        class="text-theme-primary"
                        [spin]="false"
                    ></fa-icon>
                </ng-container>

                <ng-template #dark>
                    <fa-icon
                        [icon]="moonIcon"
                        class="text-theme-white-90"
                        size="xl"
                        [spin]="false"
                    ></fa-icon>
                </ng-template>
            </button>
        </div>
    </div>
</nav>
