<nav
    #nav
    class="flex items-center justify-between px-12 md:px-20 xl:px-40 xl:py-4 py-2 theme--bg border-b !transition-spacing drop-shadow-md"
>
    <a class="w-14" routerLink="/">
        <img src="assets/images/logo.png" alt="Logo" />
    </a>

    <div class="items-center hidden lg:flex gap-7">
        <a
            *ngFor="let item of items"
            [routerLink]="[item.route]"
            [relativeTo]="currentActivatedRoute"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="linkActiveOptions"
            [fragment]="item.fragment"
            class="relative flex items-center h-full leading-normal dark:text-theme-white-90 animation--border-b lg:leading-8"
            [ngClass]="{ 'link-active': item.active }"
        >
            {{ item.label }}
        </a>

        <a
            [href]="cvUrl"
            class="primary-button"
            target="_blank"
            rel="noopener noreferrer"
            >Resume</a
        >

        <div class="flex items-center justify-center w-6">
            <button
                *ngIf="themeService.currentTheme$ | async as theme"
                (click)="themeService.toggleTheme()"
            >
                <ng-container *ngIf="theme === 'light'; else dark">
                    <fa-icon
                        [icon]="sunIcon"
                        size="xl"
                        class="text-theme-primary"
                        [spin]="false"
                    ></fa-icon>
                </ng-container>

                <ng-template #dark>
                    <fa-icon
                        [icon]="moonIcon"
                        class="text-theme-white-90"
                        size="xl"
                        [spin]="false"
                    ></fa-icon>
                </ng-template>
            </button>
        </div>
    </div>

    <button class="lg:hidden primary-button" (click)="toggleMenu()">
        <fa-icon
            [icon]="['fas', 'bars']"
            size="lg"
            class="bg-theme-primary text-theme-white-90"
        ></fa-icon>
    </button>
</nav>
