<button mat-raised-button color="primary" (click)="submit()">Submit</button>

<ng-container
    *ngIf="{
        keyIn: keyInContent$ | async,
        paste: pasteContent$ | async,
        moussDown: mouseMove$ | async,
        deleteKey: deleteKey$ | async
    }"
>
    <table
        *ngIf="items$ | async as items"
        mat-table
        class="stretch-table"
        [dataSource]="items"
    >
        <ng-container matColumnDef="sn" sticky>
            <th mat-header-cell *matHeaderCellDef>SN</th>
            <td mat-cell *matCellDef="let row; let i = index">
                {{ i + 1 }}
            </td>
        </ng-container>

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
            <!-- [attr.contenteditable]="
                    isCellSelected(i, column.index) ? true : false
                " -->
            <td
                mat-cell
                *matCellDef="let item; let i = index"
                contenteditable="false"
                ondblclick="this.contentEditable=true"
                onblur="this.contentEditable=false"
                [class.selected]="isCellSelected(i, column.index)"
                (mousedown)="onMouseDown(i, column.index)"
                (mousemove)="
                    mouseMove$$.next({ rowIndex: i, columnIndex: column.index })
                "
                (mouseup)="onMouseUp(i, column.index)"
                (focusout)="
                    keyInContent$$.next({
                        target: $event.target,
                        rowIndex: i,
                        column: column.id
                    })
                "
                (paste)="
                    pasteContent$$.next({
                        event: $event,
                        rowIndex: i,
                        column: column.id
                    })
                "
            >
                <div class="text-b2">{{ item[column.id] }}</div>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</ng-container>
