<mat-drawer-container>
    <mat-drawer
        mode="over"
        position="end"
        class="w-80 exclude-animation"
        #drawer
    >
        <mat-nav-list class="!flex flex-col items-start gap-5 !p-5">
            <a
                *ngFor="let item of items"
                [routerLink]="[item.route]"
                [relativeTo]="currentActivatedRoute"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="linkActiveOptions"
                [fragment]="item.fragment"
                class="relative flex items-center dark:text-theme-white-90 animation--border-b lg:leading-8"
                [ngClass]="{ 'link-active': item.active }"
            >
                {{ item.label }}
            </a>

            <a
                [href]="cvUrl"
                class="primary-button"
                target="_blank"
                rel="noopener noreferrer"
                >Resume</a
            >
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content id="content">
        <app-navbar></app-navbar>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>

<!-- <app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer> -->
