<mat-drawer-container>
    <mat-drawer
        mode="over"
        position="end"
        class="w-80 exclude-animation"
        #drawer
    >
        <div class="flex justify-end my-5 mr-5">
            <button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-divider class="w-full"></mat-divider>

        <app-nav-list [drawer]="drawer"></app-nav-list>
    </mat-drawer>

    <mat-drawer-content id="content">
        <app-navbar></app-navbar>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>
