<mat-drawer-container class="h-full">
    <mat-drawer mode="over" position="end" class="w-80" #drawer>
        <div class="flex flex-col h-full py-5">
            <div class="flex justify-end mb-5 mr-5">
                <button (click)="drawer.toggle()" mat-icon-button>
                    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
                </button>
            </div>

            <mat-divider class="w-full"></mat-divider>

            <app-nav-list
                class="flex flex-col h-full grow"
                [drawer]="drawer"
            ></app-nav-list>
        </div>
    </mat-drawer>

    <mat-drawer-content id="content" class="!flex flex-col h-full">
        <app-navbar></app-navbar>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>
