<form
    [formGroup]="form"
    class="text-end grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 auto-rows-auto gap-y-1 gap-x-4 md:gap-8 lg:gap-4"
    name="contactForm"
    (ngSubmit)="submit()"
>
    <mat-form-field class="w-full">
        <mat-label>{{ "contact-form.name.label" | transloco }}</mat-label>
        <input
            matInput
            [placeholder]="'contact-form.name.placeholder' | transloco"
            formControlName="name"
            type="text"
            name="name"
        />
        <mat-error *ngIf="form.get('name')?.hasError('required')">
            {{ "contact-form.name.required" | transloco }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>{{ "contact-form.email.label" | transloco }}</mat-label>
        <input
            matInput
            [placeholder]="'contact-form.email.placeholder' | transloco"
            formControlName="email"
            type="email"
            name="email"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
            {{ "contact-form.email.required" | transloco }}
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
            {{ "contact-form.email.invalid" | transloco }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full col-auto sm:col-span-2 lg:col-auto">
        <mat-label>{{ "contact-form.company.label" | transloco }} </mat-label>
        <input
            matInput
            [placeholder]="'contact-form.company.placeholder' | transloco"
            formControlName="company"
            type="text"
            name="company"
        />
        <mat-error *ngIf="form.get('company')?.hasError('required')">
            {{ "contact-form.company.required" | transloco }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full col-auto sm:col-span-2 lg:col-auto">
        <mat-label>{{ "contact-form.message.label" | transloco }}</mat-label>
        <textarea
            matInput
            [placeholder]="'contact-form.message.placeholder' | transloco"
            formControlName="message"
            type="text"
            name="message"
        >
        </textarea>
        <mat-error *ngIf="form.get('message')?.hasError('required')">
            {{ "contact-form.message.required" | transloco }}
        </mat-error>
    </mat-form-field>

    <div class="col-auto sm:col-span-2 lg:col-auto">
        <button class="primary-button" type="submit">Send Message</button>
    </div>
</form>
