<footer class="flex justify-center px-8 py-2 sm:px-12 md:px-20 xl:py-4 theme--bg">
    <div class="flex items-center justify-between flex-grow max-w-screen-lg">
        <div class="py-4 whitespace-pre theme--bg theme--text body">
            Phuong <span class="text-theme-primary">Tran</span> - {{ currentYear }} - v1.0
        </div>

        <button
            class="hidden gap-1 lg:flex primary-button"
            [matMenuTriggerFor]="menu"
            (menuClosed)="menuOpen = false"
            (menuOpened)="menuOpen = true"
        >
            <span>{{ currentLanguage?.label }}</span>
            <fa-icon [icon]="['fas', menuOpen ? 'chevron-down' : 'chevron-up']" size="sm"></fa-icon>
        </button>

        <mat-menu #menu="matMenu">
            @for (language of availableLanguage; track language.id) {
                <button mat-menu-item (click)="selectLanguage(language.id)">
                    {{ language.label }}
                </button>
            }
        </mat-menu>
    </div>
</footer>
