<div
    class="flex flex-col items-center justify-center h-full gap-8 p-8 md:gap-12 xl:gap-20 sm:px-12 md:px-20 md:py-12 xl:py-20 theme--bg-secondary"
>
    <h2 class="">{{ "experiences" | transloco }}</h2>

    <app-timeline
        [milestones]="milestones"
        [contentTemplate]="detail"
        [defaultPoint]="milestones.length - 1"
        class="w-full max-w-screen-lg"
    ></app-timeline>
</div>

<ng-template #detail let-d>
    <p class="italic">
        <time [dateTime]="d.startDate.semanticValue">
            {{ d.startDate.value | date : monthYearFormat }}
        </time>
        -
        <time [dateTime]="d.endDate?.semanticValue">
            {{ (d.endDate?.value | date : monthYearFormat) ?? "Current" }}
        </time>
    </p>

    <h3>{{ d.company | uppercase }}</h3>

    <p class="mt-1 subtitle">{{ d.position }}</p>

    <p class="mt-1 subtitle">{{ d.location | transloco }}</p>

    <p class="mt-4">
        {{ d.description | transloco }}
    </p>

    <div class="mt-4">
        <p class="list-title">{{ "responsibilities" | transloco }}:</p>
        <ul class="mt-1">
            <li
                *ngFor="let responsibility of d.responsibilities.slice(0, 4)"
                [innerHTML]="responsibility | transloco"
            ></li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="list-title">{{ "achievements" | transloco }}:</p>
        <ul class="mt-1">
            <li
                *ngFor="let achieve of d.achievements"
                [innerHTML]="achieve | transloco"
            ></li>
        </ul>
    </div>

    <button class="mt-4 primary-link" (click)="openMetadataDialog(d)">
        {{ "seeMore" | transloco }}
    </button>
</ng-template>
