<div
    class="flex flex-col items-center justify-center h-full gap-20 p-20 theme--bg-secondary"
>
    <h2 class="">Experiences</h2>

    <div class="grid max-w-screen-lg grid-cols-4 gap-12 auto-rows-auto">
        <ng-container
            *ngFor="
                let experience of experiences;
                let first = first;
                let last = last
            "
        >
            <app-experience-item
                [ngClass]="[first ? 'col-start-2' : 'col-span-1']"
                class="col-span-2"
                (actionClick)="handleActionClick()"
                [data]="experience"
            ></app-experience-item>
        </ng-container>
    </div>
</div>
