<div
    *ngIf="data"
    class="p-6 rounded-lg h-full flex flex-col items-start theme--bg theme--text"
>
    <h4 class="mb-1 text-theme-red">{{ data.position }}</h4>
    <p class="mb-5">
        <span class="font-semibold">{{ data.company }}</span> /
        {{ data.startDate | date : monthYearFormat }} -
        {{ (data.endDate | date : monthYearFormat) ?? "Current" }}
    </p>

    <p class="flex-grow">{{ data.description }}</p>

    <button class="link-button mt-3" (click)="actionClick.emit()">
        See more
    </button>
</div>
