<div
    class="flex flex-col items-center justify-center h-full gap-20 bg-theme-black-80"
>
    <h2 class="h2--underline">About Me</h2>
    <div class="flex gap-12 max-w-screen-lg items-center justify-center">
        <div class="w-64 h-64 flex-auto flex-shrink-0 about-block">
            <img class="" src="assets/images/art.jpg" alt="Phuong Tran" />
        </div>

        <div>
            <p class="mb-8">
                orem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                quod quo nesciunt vel cum numquam totam a deleniti facere unde
                nam assumenda commodi sapiente velit enim dolore, quis et
                quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquid quod quo nesciunt vel cum numquam totam a ciunt vel cum
                numquam totam a deleniti facere unde nam assumenda commodi
                sapiente velit enim dolore, quis et quidem! Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Aliquid quod quo nesciunt
                vel cum numquam totam a
            </p>

            <div class="grid grid-cols-2 auto-rows-auto gap-x-16 gap-y-3">
                <div *ngFor="let item of personalInformation" class="flex">
                    <span class="font-semibold max-w-[120px] flex-auto">{{
                        item.label
                    }}</span>
                    <span>{{ item.value }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-10 bg-theme-black-88 p-7">
        <app-stats-item
            *ngFor="let i of [1, 4, 8]"
            [value]="i"
        ></app-stats-item>
    </div>
</div>
