<div
    class="flex flex-col items-center justify-center h-full gap-20 bg-theme-black-80"
>
    <h2 class="h2--underline">About Me</h2>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quod
        quo nesciunt vel cum numquam totam a deleniti facere unde nam assumenda
        commodi sapiente velit enim dolore, quis et quidem!
    </div>
    <div class="flex gap-10 bg-theme-black-88 p-7">
        <app-stats-item *ngFor="let i of [1, 2, 3, 4]"></app-stats-item>
    </div>
</div>
