<div
    class="flex flex-col items-center justify-center w-full h-full gap-20 theme--bg-secondary theme--text"
>
    <div class="grid w-full h-full grid-cols-6 grid-rows-1">
        <div
            class="relative flex flex-col items-center justify-between py-8 after:bg-theme-primary after:absolute after:top-4 after:bottom-4 after:w-0.5 timeline-container"
        >
            <div
                *ngFor="
                    let point of milestones;
                    let first = first;
                    let last = last;
                    let index = index
                "
                class="relative flex justify-center w-full"
                [ngClass]="{
                    'before:absolute before:h-[1px] before:bg-theme-primary before:right-0 before:left-1/2 before:top-1/2 before:-translate-y-1/2':
                        currentMilestone === index
                }"
            >
                <button
                    class="milestone"
                    [ngClass]="{
                        'after:!bg-theme-accent': currentMilestone === index
                    }"
                    [matTooltip]="point.tooltip"
                    matTooltipPosition="left"
                    (click)="selectMilestone(index)"
                ></button>
            </div>
        </div>

        <div class="col-span-5 p-4 border rounded-lg border-theme-primary">
            <ng-container
                *ngTemplateOutlet="
                    contentTemplate || default;
                    context: { $implicit: milestones[currentMilestone].data }
                "
            ></ng-container>
        </div>
    </div>
</div>

<ng-template #default> Loading... </ng-template>
