@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/index";

* {
    // transition: all 0.3s ease-in-out;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;

    @apply text-base text-theme-black-88 dark:text-theme-white-90;
}

app-root {
    display: block;
}
