@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/index";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;

    @apply text-base text-theme-white-90;
}

app-root {
    display: block;
    // display: flex;
    // flex-direction: column;
    // min-height: 100%;
}
