<div
    class="relative flex items-center justify-center h-full px-10 theme--bg sm:px-12 lg:px-14"
>
    <div class="flex flex-col items-center gap-8 sm:flex-row md:gap-12">
        <img
            class="object-cover rounded-full w-52 h-52 sm:w-32 sm:h-32 md:w-40 md:h-40 animation--scale"
            src="assets/images/portrait/avatar-close-up.jpg"
            alt="avatar-close-up"
        />

        <div class="text-center theme--text sm:text-start">
            <h1 class="h1--extra-bold">
                Phuong <span class="text-theme-primary">Tran</span>
            </h1>
            <h4 class="h4--light">I build things on the internet.</h4>
        </div>
    </div>

    <button
        class="absolute -translate-x-1/2 cursor-pointer bottom-20 left-1/2 animate-bounce"
        (click)="scrollTo.emit('about')"
    >
        <fa-icon
            [icon]="['fas', 'angles-down']"
            size="xl"
            class="text-theme-primary"
        ></fa-icon>
    </button>
</div>
